.app-container {
  background-color: #f5f5f5;
  height: calc(100%);
  border-radius: 10px;
  display: flex;
}

.map-column {
  width: 60%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.data-column {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #f0eded;
  position: relative;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.data-header {
  top: 0;
  /* height: 50px; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 10px;
}

.data-content {
  height: 100%;
  padding: 0;
  margin: 0 10px;
  justify-content: flex-end;
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.toggle-button {
  width: 60px;
  height: 40px;
  border: none;
  border-radius: 3px;

  margin-left: 8px;

  font-size: 16px;
  cursor: pointer;
  outline: none;
}
