<body>
  <div class="app-container">
    <div class="map-column">
      <app-map></app-map>
    </div>
    <div class="data-column">
      <div class="data-header">
        <h1>Towers</h1>
        <div>
          <button
            class="toggle-button"
            (click)="toggleView('table')"
            [ngStyle]="{
              color: isTableViewVisible ? '#ffff' : '#a4ded9',
              'background-color': isTableViewVisible ? '#a4ded9' : '#ffff'
            }"
          >
            <i class="fa fa-table"></i>
          </button>
          <button
            class="toggle-button"
            (click)="toggleView('chart')"
            [ngStyle]="{
              color: isTableViewVisible ? '#a4ded9' : '#ffff',
              'background-color': isTableViewVisible ? '#ffff' : '#a4ded9'
            }"
          >
            <i class="fa fa-line-chart"> </i>
          </button>
        </div>
      </div>
      <div class="data-content">
        <div class="container">
          <!-- ... your existing code ... -->
          <router-outlet *ngIf="!isTableViewVisible"></router-outlet>
        </div>
        <table *ngIf="isTableViewVisible">
          <app-table></app-table>
        </table>

        <div *ngIf="isChartViewVisible">
          <app-chart></app-chart>
        </div>
      </div>
    </div>
  </div>
</body>
