/* .match-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 10px;
  width: 250px;
} */

.match-parent h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.match-parent p {
  margin: 0;
  font-size: 14px;
}

.match-parent {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.mapboxgl-ctrl-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a4ded9 !important;
}

.mapboxgl-ctrl-top-right {
  top: 80px;
  right: 10px;
}

.mapboxgl-ctrl-group {
  display: flex;
  flex-direction: column;
}
