<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cell Towers Chart</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/apexcharts@3.28.3/dist/apexcharts.min.css"
      integrity="sha384-ZsmxnP8WtI0bKJxF2tP/wUrYIL8q3KjA0wT/wG1Dvg22jK2gOxvE4aN4c4Zzh9g8"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="chart"></div>
    <script
      src="https://cdn.jsdelivr.net/npm/apexcharts@3.28.3/dist/apexcharts.min.js"
      integrity="sha384-Ae7LO5TkVmXuV7hdeRiD5xzuxUBgXfa6iZU6CrZU6OgUwDl1AFhWUH8yKxJSR5V5"
      crossorigin="anonymous"
    ></script>
    <script src="./index.js"></script>
    <h2>Cellular Towers by Technology</h2>
  </body>
</html>
